<div class="container">
    <table border="1">
        <thead>
            <th>Bus Name</th>
            <th>Dept. Time</th>
            <th>Coach Type</th>
            <th>Seats Available</th>
            <th>Fare</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let bus of busList">
                <td>{{bus.name}}</td>
                <td>{{bus.time}}</td>
                <td>{{bus.coach}}</td>
                <td>{{bus.seats}}</td>
                <td>{{bus.fare}}</td>
                <td><a [routerLink]="['/seat',bus.id,from,to,time]">View Seats</a></td>
            </tr>
        </tbody>
    </table>
</div>