<div class="container">
    <table border="1">
        <thead>
            <th>Bus Name</th>
            <th>Dept. Time</th>
            <th>Coach Type</th>
            <th>Seats Available</th>
            <th>Fare</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>Durgamba</td>
                <td>10:00 PM</td>
                <td>AC</td>
                <td>36</td>
                <td>1000</td>
                <td><a href="">View Seats</a></td>
            </tr>
        </tbody>
    </table>
</div>