<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row-one">
        <div class="from-container">
            <label>Leaving From</label>
            <input list="from-list" formControlName="from" type="text" id="from-input"/>
            <datalist id="from-list">
                <option *ngFor="let fromPlace of fromList" value="{{fromPlace}}">
            </datalist>
        </div>
        <div class="to-container">
            <label>Going To</label>
            <input list="to-list" formControlName="to"  type="text" id="to-input"/>
            <datalist id="to-list">
                <option  *ngFor="let toPlace of toList" value="{{toPlace}}">
            </datalist>
        </div>
    </div>
    <div class="row-two">
        <label>Departing On</label>
        <input type="date" formControlName="time"  id="date-input">
    </div>
    <div class="row-three">
        <button>Search Buses</button>
    </div>
</form>
</div>