<div class="container">
    <div class="row-one">
        <div class="from-container">
            <label>Leaving From</label>
            <input list="from-list" type="text" id="from-input"/>
            <datalist id="from-list">
                <option value="Halady">
                <option value="Kundapur">
            </datalist>
        </div>
        <div class="to-container">
            <label>Going To</label>
            <input list="to-list" type="text" id="to-input"/>
            <datalist id="to-list">
                <option value="Bangalore">
                <option value="Pune">
            </datalist>
        </div>
    </div>
    <div class="row-two">
        <label>Departing On</label>
        <input type="date" id="date-input">
    </div>
    <div class="row-three">
        <button>Search Buses</button>
    </div>
</div>