<div class="container">
    <table border="1">
       <tbody>
           <tr class="dark">
                <td colspan="4">Online Reservation</td>
           </tr>
           <tr class="dark">
                <td colspan="2" style="text-transform: capitalize;">{{ticket.from}} - {{ticket.to}}</td>
                <td colspan="2">{{ticket.date}}</td>
           </tr>
           <tr class="dark">
                <td>Passenger details</td>
                <td>Ticket id</td>
                <td>Seat number</td>
                <td>Total Fare</td>
           </tr>
           <tr>
                <td>{{ticket.username}} <br> {{ticket.mobile}} <br> {{ticket.email}} </td>
                <td>{{ticket.id}}</td>
                <td>{{ticket.seat}}</td>
                <td>{{ticket.total}}</td>
           </tr>
           <tr class="dark">
                <td>Bus Name</td>
                <td>Reporting time</td>
                <td>Dept. Time</td>
            </tr>
            <tr>
                <td>{{ticket.busname}} </td>
                <td>30 mins before</td>
                <td>{{ticket.bustime}}</td>
            </tr>
            <tr style="color:red">
                <td colspan="4">** Please bring this copy to ticket counter to take ticket</td>
           </tr>
       </tbody>
    </table>
    <button (click)="print();">Print</button>
</div>